* {
  box-sizing: border-box;
}
.subgrid-article {
  background-image: url("https://alex-lvl.github.io/NYT-article-clone/images/the-theory-of-inflation.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 1fr 0.87fr 1fr;
  row-gap: 15px;
  column-gap: 15px;
  font-size: 13px;
}
.subgrid-article :nth-child(1) {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
.subgrid-article :nth-child(2) {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.subgrid-article :nth-child(3) {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}
.subgrid-article :nth-child(4) {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}
.subgrid-article :nth-child(5) {
  grid-row: 4 / span 1;
  grid-column: 1 / span 1;
}
.subgrid-article :nth-child(6) {
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
}
.subgrid-article :nth-child(7) {
  grid-row: 4 / span 1;
  grid-column: 3 / span 1;
}
.subgrid-article :nth-child(8) {
  grid-row: 4 / span 1;
  grid-column: 4 / span 1;
}
li {
  list-style: none;
  display: inline-block;
}
.top-nav {
  height: 35px;
  border-bottom: 1px solid rgba(180, 180, 180, 0.411);
  background-color: white;
}
.top-nav ul {
  height: 35px;
  position: fixed;
  background-color: white;
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 50px 50px auto repeat(8, 1fr) 1fr 1fr;
  padding: 5px 10px;
  grid-column-gap: 10px;
}
.top-nav ul li {
  flex: 1;
}
#top-nav-center {
  grid-column: 4 / span 7;
  justify-self: center;
}
header {
  margin: 0 auto;
  margin-top: 60px;
  width: 965px;
  text-align: center;
}
header h1 {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 25px;
}
header img,
figure {
  max-width: 965px;
  margin: 0 auto;
}
figure {
  text-align: left;
}
figure img {
  width: 100%;
}
article {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.3rem;
  line-height: 1.5;
}
.writer-info,
.comments {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1rem;
  display: grid;
  justify-items: start;
  grid-template-rows: 70px;
}
.writer-info ul,
.comments ul {
  justify-self: end;
}
.grid-article {
  width: 950px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 10% 90%;
}
.article-info {
  font-family: sans-serif;
  font-weight: 300;
  line-height: 16px;
}
#bicep {
  width: 965px;
}
.bottom-nav {
  display: grid;
  row-gap: 15px;
  grid-template-rows: 10% 90%;
}
.bottom-nav h4 {
  margin-left: 25px;
}
.bottom-nav-grid-cont {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.last-child-bottom-nav {
  border-left: 1px solid rgba(119, 119, 119, 0.411);
  padding-left: 15px;
}
.bottom-nav-grid-cont ul li {
  display: list-item;
  margin-top: 2px;
}
.bottom-nav-large-font {
  font-size: 1.3rem;
  font-weight: 700;
}
footer {
  margin: 0 auto;
  width: 1000px;
  height: 20px;
  font-size: 11px;
}
footer ul li {
  margin-right: 7px;
}
